[Unit]
Description=Gunicorn service for blogapi Django project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/projects/Blog_Api
ExecStart=/home/ubuntu/projects/Blog_Api/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/projects/Blog_Api/blogapi.sock blogapi.wsgi:application

Restart=always

[Install]
WantedBy=multi-user.target
